<div class="index-page">
    <div class="container">
        <div class="jumbotron">
            <h1>Make It Easier</h1>
            <p>This simple application provides you an easy access to your linked email accounts, gives you option to save your notes to the cloud
                and also notifies you about ur scheduled tasks. </p>

            <div class="action-btns">
                <a class="btn btn-primary btn-lg">Mail</a>
                <a class="btn btn-primary btn-lg" ui-sref="main.notes">Notes</a>
                <a class="btn btn-primary btn-lg">Reminder</a>
            </div>

            <div class="icons-container">
                <span popover-placement="bottom" uib-popover="Connection to internet" popover-trigger="'mouseenter'" ng-class="{valid:vm.Status.connected}" class="connection glyphicon glyphicon-flash"></span>
                <span popover-placement="bottom" uib-popover="Open settings" popover-trigger="'mouseenter'" class="settings glyphicon glyphicon-cog" ng-click="vm.OpenSettingsWindow()"></span>
            </div>


        </div>
    </div>
</div>